@import '../../scss/variables';
@import '../../scss/mixins/modalBox';
@import '../../scss/mixins/noSelect';

.filter {
    @include modalBox(1200px);
    padding: 50px;

    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-bottom: 20px;

        margin-bottom: 20px;

        border-bottom: 1px solid rgba($color: $accent, $alpha: 0.1);

        .arrowContainer {
            outline: 1px solid $accent;
            padding: 8px 14px;
            border-radius: 10px;

            transition: padding 0.1s ease-in-out, margin 0.1s ease-in-out,
                background-color 0.05s ease-in-out;

            .arrow {
                display: inline-block;
                transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;
            }

            &:hover {
                padding-left: 20px;
                margin-left: -6px;
                background-color: $accent;

                .arrow {
                    transform: translateX(-6px);
                    color: $white;
                }
            }
        }

        h2 {
            font-family: $heading-font;
        }

        .smile {
            @include noselect;
            font-size: 18px;
            font-weight: 600;
            color: $font-color;

            width: 70px;
        }
    }
    .container {
        padding: 0 40px;

        .button{
            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: 40px;
        }
    }
}
