@import '../../scss/variables';
@import '../../scss/mixins/modalBox';
@import '../../scss/mixins/noSelect';

.heading {
    color: $font-color;
}

.category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 15px 0;
    column-gap: 15px;
    row-gap: 10px;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }

    .boxItem {
        @include noselect;
        border: 1px solid $accent;
        color: $font-color;
        padding: 20px 30px;
        font-size: 18px;

        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(9, 30, 66, 0.05) 0px 1px 1px, rgba(9, 30, 66, 0.03) 0px 0px 1px 1px;

        transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out,
            box-shadow 0.1s ease-in-out;

        cursor: pointer;

        @media screen and (max-width: 500px) {
            padding: 8px 12px;
            font-size: 17px;
            line-height: 25px;
        }

        span {
            transition: color 0.1s ease-in-out;
            padding: 5px;
        }

        &:hover {
            background-color: $accent;
            transform: translateY(-3px);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

            span {
                color: $white;
            }
        }
    }

    .active {
        background-color: $accent;
        transform: translateY(-3px);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
            rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

        span {
            color: $white;
            outline: 1px solid $white;
        }
    }
}
