@import '../../scss/variables';
@import '../../scss/mixins/modalBox';

.intro {
    @include modalBox(550px);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
        font-family: $heading-font;
        font-size: 32px;
        line-height: 37px;

        color: $font-color;

        margin-bottom: 10px;
    }

    .description {
        font-size: 17px;

        color: lighten($color: $font-color, $amount: 45%);

        margin-bottom: 30px;

        max-width: 300px;
        text-align: center;
        line-height: 23px;
    }

    @media screen and (max-width: 600px) {
        width: 95%;
        height: 92vh;
    }
}
