@import '../../scss/variables';

.intro {
    max-width: 550px;
    width: 100%;
    height: 550px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 15px;
    background-color: rgba(245, 247, 251, 0.7);

    box-shadow: rgba(245, 247, 251, 0.12) 0px 2px 4px 0px, rgba(245, 247, 251, 0.32) 0px 2px 16px 0px;



    background-position: left bottom, right top;
    background-repeat: no-repeat;

    .title {
        font-family: 'Karla';
        font-size: 32px;
        line-height: 37px;

        color: $font-color;

        margin-bottom: 10px;
    }

    .description{
        font-family: 'Inter';
        font-size: 17px;

        color: lighten($color: $font-color, $amount: 45%);

        margin-bottom: 30px;

        max-width: 300px;
        text-align: center;
        line-height: 23px;
    }
}
