@import '../../scss/variables';
@import '../../scss/mixins/noSelect';

.questionBlock {
    margin-bottom: 20px;

    .question {
        margin-bottom: 12px;
        line-height: 18px;
    }

    .answer {
        @include noselect();
        position: relative;

        width: fit-content;
        padding: 8px 16px;

        border: 1px solid $accent;
        border-radius: 10px;

        margin-bottom: 5px;

        cursor: pointer;

        transition: padding 0.1s ease-in-out, background-color 0.1s ease-in-out,
            color 0.1s ease-in-out;

        &:hover {
            padding-left: 30px;
            background-color: $accent;
            color: $white;
        }
    }

    .noHover{
        &:hover{
            padding-left: 16px;
            background-color: transparent;
            color: black;
        }
    }

    .active {
        padding-left: 30px;
        background-color: $accent;
        color: $white;
        &::before {
            content: '•';
            font-size: 20px;
            position: absolute;
            left: 15px;
            top: 4px;
        }
    }

    .correct{
        padding-left: 40px;
        background-color: $success;
        &:hover {
            padding-left: 40px;
            background-color: $success;
        }
        &::before {
            content: ':>';
            font-size: 20px;
            font-weight: 600;
            position: absolute;
            left: 15px;
            top: 4px;
        }
    }

    .incorrect{
        padding-left: 40px;
        background-color: $fail;
        &:hover {
            padding-left: 40px;
            background-color: $fail;
        }
        &::before {
            content: ':<';
            font-size: 20px;
            font-weight: 600;
            position: absolute;
            left: 15px;
            top: 4px;
        }
    }
}
