$accent: #4d5b9e;
$secondary: #D6DBF5;
$success: #94D7A2;
$fail: #F8BCBC;
$background: linear-gradient(to left bottom, #d6dbf5, #c3c9ea, #b0b7e0, #9da5d5, #8a94ca, #8a94ca, #8a94ca, #8a94ca, #9da5d5, #b0b7e0, #c3c9ea, #d6dbf5);

$font-color: #293264;

$white: #F5F7FB;

$main-font: 'Inter', sans-serif;
$heading-font: 'Karla', sans-serif;